[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BisqueRNA"]
	path = BisqueRNA
	url = https://github.com/cozygene/bisque
[submodule "TCA"]
	path = TCA
	url = https://github.com/cozygene/tca
[submodule "Unico"]
	path = Unico
	url = https://github.com/cozygene/unico
